*{
    box-sizing: content-box;
    padding-bottom: 5px;
    background-color: whitesmoke;

}

header{
    Position:running(Myheader); 
    text-align:center;
    font-size:large;
          
}

header p i:first-of-type{
    margin-left: 0;
}

header i{
    margin-left: 5mm;
}

img{
    width: 250px;
    margin: auto;
    display: block;
}

section{
    break-inside:avoid;
    padding-left: 20PX;
}

h1, h3{
    font-family:Georgia, 'Times New Roman', Times, serif
}

h2{
    background-color: black;
    color:white;
    display: inline-block;
    padding: 1mm;
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif
}
    
body{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif       
}


.flex{    
    display:flex;
}

.left{
    min-width: 4cm;    
}


.left p:first-of-type,
.right h3:first-of-type{      
    margin-top:  0;
}

.right p:first-of-type{
    margin-bottom:0;
}

